<div>
  <div id="datetime">
    <h1>{{ date.tz | date:'hh mm ss' }}</h1>
    <h2>{{ date.tz | date:'EEEE, MMMM yyyy' }}</h2>
  </div>

  <div id="forecast">
    <ul class="row list-unstyled">
      <li ng-repeat="day in weather.forecast.forecastday" class="col-md-3">
        <span ng-class="{today: $index == 0}">
          <img class="{{ day.icon }}" ng-src="{{ day.icon_url }}" />
          <h3>{{ day.high.fahrenheit }}</h3>
          <h4 ng-if="$index == 0">Now</h4>
          <h4 ng-if="$index != 0">{{ day.date.weekday }}</h4>
        </span>
      </li>
    </ul>
  </div>
</div>