<!doctype html>
<html ng-app="myApp">
<head>
  <title>JS Animation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <style>
    .animateNgIf.ng-enter {
      opacity: 0;
      color: green;
    }
    .animateNgIf.ng-enter.ng-enter-active {
      opacity: 1;
      color: black;
    }
    .animateNgIf.ng-leave {}
    .animateNgIf.ng-leave.ng-leave-active {
      opacity: 0;
    }
  </style>
</head>
<body>

  <div ng-init="show=false"
      ng-controller="HomeController">
    <button ng-click="show=!show">Show</button>
    <div ng-if="show" class="animateNgIf">
      <h2>Show me</h2>
    </div>
  </div>

  <script>
    angular.module('myApp', ['ngAnimate'])
    .controller('HomeController', function() {
    })
    .animation('.animateNgIf', function() {
      return {
        enter: function(element, done) {
          // Example to show how to animate
          // with jQuery. Note, this requires
          // jQuery to be included in the HTML
          $(element).css({
            opacity: 0
          });
          $(element).animate({
            opacity: 1
          }, done);
        },
        leave: function(element, done) {
          done();
        }
      }
    });
  </script>

</body>
</html>