<!doctype html>
<html ng-app="myApp">
<head>
  <title>JS Animation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <style>
    .animateInclude.ng-enter {
      opacity: 0;
      color: green;
    }
    .animateInclude.ng-enter.ng-enter-active {
      opacity: 1;
      color: black;
    }
    .animateInclude.ng-leave {}
    .animateInclude.ng-leave.ng-leave-active {
      opacity: 0;
    }
  </style>
</head>
<body>

  <div ng-init="template='home'"
      ng-controller="HomeController">
    <button ng-click="template='home'">Home</button>
    <button ng-click="template='second'">Second</button>
    <button ng-click="template='third'">Third</button>
    <div ng-switch="template">
      <div class="animateSwitch"
        ng-switch-when="home">
        <h1>Home</h1>
      </div>
      <div class="animateSwitch"
        ng-switch-when="second">
        <h1>Second</h1>
      </div>
      <div class="animateSwitch"
            ng-switch-when="third">
        <h1>Home</h1>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    Home Template
  </script>
  <script type="text/ng-template" id="/second.html">
    Second Template
  </script>
  <script type="text/ng-template" id="/third.html">
    Third Template
  </script>

  <script>
    angular.module('myApp', ['ngAnimate'])
    .controller('HomeController', function() {
    })
    .animation('.animateSwitch', function() {
      return {
        enter: function(element, done) {
          // Example to show how to animate
          // with jQuery. Note, this requires
          // jQuery to be included in the HTML
          $(element).css({
            opacity: 0
          });
          $(element).animate({
            opacity: 1
          }, done);
        },
        leave: function(element, done) {
          done();
        }
      }
    });
  </script>

</body>
</html>