<!doctype html>
<html ng-app="myApp">
<head>
  <title>JS Animation</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
  <script src="http://code.angularjs.org/1.2.0-rc.2/angular-animate.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <style>
    .animateInclude.ng-enter {
      opacity: 0;
      color: green;
    }
    .animateInclude.ng-enter.ng-enter-active {
      opacity: 1;
      color: black;
    }
    .animateInclude.ng-leave {}
    .animateInclude.ng-leave.ng-leave-active {
      opacity: 0;
    }
  </style>
</head>
<body>

  <div ng-init="template.url='/home.html'"
      ng-controller="HomeController">
    <button ng-click="template.url='/home.html'">
      Home
    </button>
    <button ng-click="template.url='/second.html'">
      Second
    </button>
    <button ng-click="template.url='/third.html'">
      Third
    </button>
    <div class="animateInclude"
          ng-include="template.url">
    </div>
  </div>

  <script type="text/ng-template" id="/home.html">
    Home Template
  </script>
  <script type="text/ng-template" id="/second.html">
    Second Template
  </script>
  <script type="text/ng-template" id="/third.html">
    Third Template
  </script>

  <script>
    angular.module('myApp', ['ngAnimate'])
    .controller('HomeController', function() {
    })
    .animation('.animateInclude', function() {
      return {
        enter: function(element, done) {
          // Example to show how to animate
          // with jQuery. Note, this requires
          // jQuery to be included in the HTML
          $(element).css({
            opacity: 0
          });
          $(element).animate({
            opacity: 1
          }, done);
        },
        leave: function(element, done) {
          done();
        }
      }
    });
  </script>

</body>
</html>