<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>插值</title>
    <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>
<div ng-controller="MyController">
    <input ng-model="to"
           type="email"
           placeholder="Recipient"/>
    <br>
    <textarea ng-model="emailBody" title=""></textarea><br>
    <pre>{{ previewText }}</pre>
</div>
<script>
    angular.module("myApp", [])
            .controller("MyController", ["$scope", "$interpolate", function ($scope, $interpolate) {
                $scope.$watch("emailBody", function (body) {
                    if (body) {
                        var template = $interpolate(body);
                        $scope.previewText = template({to: $scope.to})
                    }
                })
            }])

</script>
</body>
</html>