<!DOCTYPE html>
<html ng-app="myApp" lang="en">
<head>
    <meta charset="UTF-8">
    <title>排序</title>
    <script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.min.js"></script>
</head>
<body>
<table ng-controller="MyController">
    <caption>博客列表</caption>
    <tr>
        <th>序号</th>
        <th>标题</th>
        <th>内容</th>
        <th>链接</th>
        <th>uid</th>
        <th>点击数</th>
    </tr>
    <tr ng-repeat="blog in blogs">
        <td>{{$index + 1}}</td>
        <td>{{blog.title}}</td>
        <td>{{blog.content}}</td>
        <td>{{blog.href}}</td>
        <td>{{blog.uid}}</td>
        <td>{{blog.viewCount}}</td>
        <td>
            <button ng-click="remove($index)">Remove</button>
        </td>
    </tr>
</table>
</body>

<script>
    angular.module("myApp", [])
            .controller("MyController", ["$scope", "$http", function ($scope, $http) {
                $scope.blogs = {};
                $http({
                    url: "http://static.xiaomo.info:8080/admin/blog/findAll?start=1&pageSize=5",
                    method: "GET"
                }).success(function (data) {
                    console.log(data.blogs.content);
                    $scope.blogs = data.blogs.content;
                }).error(function (data) {
                    console.log(data);
                })
            }])

</script>
</html>